html{
    background-color: black;
}

h1{
    color: aliceblue;
    font-weight: bold;
}

p{
    color: aliceblue;
    font-size: 30px;
}

img{
    height: 50%;
    width: 50%;
    border: 10px solid white;
    margin: 10px;
    padding: 10px;
}